<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('/backend/templates/partials/Admin_head'); %>
<<<<<<< HEAD
    <link rel="stylesheet" href="/css/Admin_User_products.css">
=======
    <link rel="stylesheet" href="/backend/public/css/Admin_User_producnts.css">
>>>>>>> 29aa5dbeeea7a1b161b164545c063ef0336f83e9
    <title>products</title>
</head>

<body>
    
    <div class="grid-container">

        <%- include('/backend/templates/partials/Admin_sidebar'); %>

        
        <div class="users">
            <div class="vl"></div>
            <div class="container-users">
                <h3 class="all-users">ALL PRODUCTS</h3>
                <table class="table table-striped">
                    <thead class="table-headings">
                        <tr>
                            <th scope="col">Product ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Price</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody class="table-rows">

                        <tr>

                            <% (for i in productss) { %>                            
                            <td><%=productss._id %></td>
                            <td><%=productss.name %></td>
                            <td><%=productss.Stock %></td>
                            <td><%=productss.price %></td>
                            <td><a href="/Admin_createProductForm/:<%= productss._id %>"><i class="bi bi-pencil-fill"></i></a><a href=""><i
                                        class="bi bi-trash-fill"></i></a></td>
                                        <% } %>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <script src="/backend/public/JS/Admin_User_products.js"></script>
</body>

</html>